<head>
    <title>Max Goodman's Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
  
<body> 
    <options>
        <div class="backButton" id="button-2">
            <div id="slide"></div>
            <a href="/index">Back</a><br><br>
        </div>
    </options>
    <optionsButNoBack>
        <h1 class="pageTitle">Animations(<%=animationsLength%>)</h1>
    </optionsButNoBack>
    <% if (loggedIn) { %>
        <options>
            <text style="padding:20px">Welcome Max, Upload an animation below!</text>
            <form method="post" action="/animations/addAnimation" style="display: flex; flex-direction:column; text-align: center;">
                <text style="margin-bottom:15px">Embedded video href Link:</text>
                <input type="text" name="hrefLink" style="width: 500px; margin:auto" required >
                <% if (invalidURL) { %>
                    <a style="font-size:15px; margin-top:25px">Invalid URL. Try Again!</a>
                <% } %>
                <text style="margin-top:15px; margin-bottom:15px">Description:</text>
                <textarea style="resize: none; margin-top:15px" name="description" rows="20" cols="80" maxlength="4000" required></textarea>
                <button class="b1" type="submit" style="background:none; border:none; cursor:pointer; margin-top:25px">[Save]</button>
            </form>  
        </options><br><br>
    <% } %>
    <% for (i=0; i<animationsLength; i++){%>
        <optionsButNoBack>
            <options class="vidOptions" style="padding:15px; margin-bottom:25px">
                <iframe title="vimeo-player" src="<%= animations[i].hrefLink%>" width="640" height="360" frameborder="0" allowfullscreen></iframe>
            </options>
            <form method="post" action="/animations/edit/save">
                <options style="padding:15px">
                    <% if (!edit) { %>
                        <text class="textFormat" id="desc" style="font-size:20px; width:600px; text-align:center"><%= animations[i].description %></text>
                    <% }
                    else if (animations[i]._id == animationID) { %>
                        <textarea style="resize: none; margin-top:15px" name="description" rows="20" cols="80" maxlength="4000" required><%= animations[i].description%></textarea>
                        <input type="hidden" name="animationId" value="<%= animations[i]._id%>">
                    <% } %>
                    <% if (loggedIn) { %>
                        <div style="display:flex; flex-direction:row; margin-top:15px; color: white">
                            <a style="margin-right: 50" href="/animations/delete/<%= animations[i]._id%>">[Delete]</a>
                            <% if (!edit) { %>
                                <a href="/animations/edit/<%= animations[i]._id%>">[Edit]</a>
                            <% } %>
                            <% if (edit && animations[i]._id == animationID) { %>
                                <button class="b1" type="submit" style="background:none; border:none; cursor:pointer;">[Save]</button>
                                <a style="margin-left: 50px" href="/animations">[Cancel]</a>
                            <% } %>
                        </div>
                    <% } %>
                </options>
            </form>
        </optionsButNoBack><br><br>
        <% if (i != animationsLength - 1) { %>
            <hr class="lineSep"><br><br>
        <% } %>
    <% }%>
</body>
  