<head>
    <title>Max Goodman's Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body> 
    <options>
        <div class="backButton" id="button-2">
            <div id="slide"></div>
            <a href="/index">Back</a><br><br>
        </div>
    </options>
    <optionsButNoBack>
        <h1 class="pageTitle">Blog Posts (<%=blogPostsLength%>)</h1>
    </optionsButNoBack>
    <% if (loggedIn) { %>
        <options>
            <text style="padding:20px">Welcome Max, Upload a blog post below!</text>
            <form method="post" action="/blogPosts/addBlogPost" style="display: flex; flex-direction:column; text-align: center;">
                <div style="display:flex; flex-direction:row; margin:auto;">
                    <text>Title:</text>
                    <input type="text" name="title" style="max-width: 150px; margin:auto" required >
                </div>
                <text style="margin-top:15px; margin-bottom:15px">Description:</text>
                <textarea style="resize: none; margin-top:15px" name="description" rows="20" cols="80" maxlength="4000" required></textarea>
                <button class="b1" type="submit" style="background:none; border:none; cursor:pointer; margin-top:25px">[Save]</button>
            </form>
        </options><br><br>
    <% } %>
    <% for (i=0; i<blogPostsLength; i++){%>
        <form method="post" action="/blogPosts/edit/save">
            <options style="width:1100px; resize: none">
                <% if (!edit || blogPosts[i]._id != blogPostId) { %>
                    <div style="display:flex; flex-direction:row; margin-top:15px;">
                        <i style="font-size:40px; text-decoration: underline"><%= blogPosts[i].title%></i>
                        <text style="margin-left: 300px; font-size:39px"><%= blogPosts[i].createdAt.toDateString() %></text>
                    </div>
                    <text class="textFormat" style="font-size:20px; margin-top:20px;margin-bottom:15px; max-width:1025px;"><%= blogPosts[i].description %></text>
                <% }
                else { %>
                    <textarea name="title" style="width: 250px; height: 30px; margin:auto; resize:none; margin-top:15px" required><%= blogPosts[i].title%></textarea>
                    <textarea style="resize: none; margin-top:15px" name="description" rows="20" cols="80" maxlength="4000" required><%= blogPosts[i].description%></textarea>
                    <input type="hidden" name="postId" value="<%= blogPosts[i]._id%>">
                <% } %>
                <% if (loggedIn) { %>
                    <div style="display:flex; flex-direction:row; margin-top:15px; margin-bottom:5px; color: white">
                        <a style="margin-right: 80" href="/blogPosts/delete/<%= blogPosts[i]._id%>">[Delete]</a>
                        <% if (!edit || blogPosts[i]._id != blogPostId) { %>
                            <a href="/blogPosts/edit/<%= blogPosts[i]._id%>">[Edit]</a>
                        <% } %>
                        <% if (edit && blogPosts[i]._id == blogPostId) { %>
                            <button class="b1" type="submit" style="background:none; border:none; cursor:pointer;">[Save]</button>
                            <a style="margin-left: 80px" href="/blogPosts">[Cancel]</a>
                        <% } %>
                    </div>
                <% } %>
            </options>
        </form><br><br>
        <% if (i != blogPostsLength - 1) { %>
            <hr class="lineSep"><br><br>
        <% } %>
    <% }%>
</body>