<head>
    <title>Max Goodman's Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body> 
    <options>
        <div class="button" id="button-2">
            <div id="slide"></div>
            <a href="/index">Back</a><br><br>
        </div>
    </options>
    <optionsButNoBack>
        <h1 style="font-size:60px; text-decoration: underline; width: 550px; text-align:center">Blog Posts</h1>
    </optionsButNoBack>
    <% if (loggedIn) { %>
        <options>
            
                <% if (postsLength == 1) { %>
                    <text style="padding:20px; width:700px">Welcome Max, you have <%= postsLength %> post.</text>
                <% } 
                else { %>
                    <text style="padding:20px">Welcome Max, you have <%= postsLength %> posts.</text>
                <% } %>
                <form method="post" action="/blogPosts/addBlogPost" style="display: flex; flex-direction:column; text-align: center;">
                    <div style="display:flex; flex-direction:row; margin:auto;">
                        <text>Title:</text>
                        <input type="text" name="title" style="max-width: 150px; margin:auto" required >
                    </div>
                    <text style="margin-top:15px; margin-bottom:15px">Description:</text>
                    <textarea style="resize: none; margin-top:15px" name="description" rows="20" cols="80" maxlength="4000" required></textarea>
                    <input type="submit" value="Submit Post" style="max-width: 150px; margin:auto; margin-top:30px">
                </form>
            
        </options><br><br>
    <% } %>
    <% for (post of posts){%>
        <options style="width:1100px; resize: none">
            <div style="display:flex; flex-direction:row; margin-top:15px;">
                <i style="font-size:40px; text-decoration: underline"><%= post.title%></i>
                <text style="margin-left: 300px; font-size:39px"><%= post.createdAt.toDateString() %></text>
            </div>
            <text style="font-size:20px; margin-top:20px;margin-bottom:15px; word-wrap: break-word; max-width:1025px;"><%= post.description %></text>
            <% if (loggedIn) { %>
                <a href="/blogPost/delete/<%= post._id%>" style="color:red">(Delete)</a>
            <% } %>
        </options><br><br>
    <% }%>
</body>